#area {
  position: relative;
  left: 37%;
  top: 10em;
  width: 320px;
  height: 270px;
}

#area #formulario {
  position: absolute;
  display: block;
}

fieldset {
  background-color: #fefae0;
  width: 300px;
  height: 250px;
}

legend {
  font-weight: bold;
  font-family: "Segoe UI", "Arial", "Times New Roman";
}

#formulario label {
  position: absolute;
  left: 19px;
  margin-right: 5px;
}

#formulario input.campo_produto {
  background-color: #e2e8ce;
  position: absolute;
  left: 95px;
  top: 23px;
  width: 225px;
}

#formulario input.campo_quantidade {
  background-color: #e2e8ce;
  position: absolute;
  left: 95px;
  margin-top: 2px;
  width: 225px;
}

#formulario textarea.type {
  position: absolute;
  background-color: #e2e8ce;
}

#formulario input.btn_submit {
  position: absolute;
  bottom: 0.5em;
  right: 10px;
  background-color: #e2e8ce;
}